* {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.jumbotron {
    padding: 60px;
}

.jumbotron h1 {
    font-size: 63px;
}

.form-group {
    margin-bottom: 30px;
}

.form-group label {
    font-size: 20px;
    font-weight: bold;
}

#match-name {
    text-transform: capitalize;
}

footer {
    margin: 8px 0 40px 0;
}